In [1]:
import pandas as pd
import numpy as np

df=pd.read_csv("C://Users//whs38//OneDrive//바탕 화면//archive//titanic.csv")

In [2]:
q1=df["Fare"].quantile(0.25)
q3=df["Fare"].quantile(0.75)

IQR=q3-q1

min=q1-1.5*IQR
max=q3+1.5*IQR

In [8]:
df_1=df.loc[df["Fare"]<min]
df_2=df.loc[df["Fare"]>max]

In [11]:
print(np.sum(df_2["Sex"]=="female"))

70