In [2]:
import pandas as pd
import numpy as np

df=pd.read_csv("C://Users//whs38//OneDrive//바탕 화면//archive//basic1.csv",encoding="euc-kr")

In [10]:
df_1=df[(df["age"]-np.floor(df["age"]))!=0]

In [11]:
df_1

      id   age city    f1  f2   f3    f4         f5
6   id07  36.3   서울  60.0   1  NaN  ISFJ   9.796378
8   id09   3.3   서울  35.0   2  NaN  ESFJ  17.252986
21  id22  -6.3   부산  72.0   1  NaN  ENFP  52.667078
28  id29 -13.5   부산  47.0   2  NaN  ENTP  67.886373
46  id47  34.6   대구  75.0   1  NaN  ESTJ  90.496999
64  id65  26.5   경기   NaN   0  NaN  ISFP  91.297791
84  id85  83.6   경기  55.0   0  NaN  INFJ  80.138280
92  id93  21.8   경기  57.0   0  NaN  ISFP  73.586397

In [12]:
ceil_mean=np.ceil(df_1["age"]).mean()#올림 평균
floor_mean=np.floor(df_1["age"]).mean()#내림 평균
trunc_mean=np.trunc(df["age"]).mean()#절삭 평균

print(ceil_mean+floor_mean+trunc_mean)

97.44